{% extends "projectinfo/base.html" %}
{% block content %}
<article class="media content-section bg-transparent">
	<div class="media-body text-light">

		<b class=" font-weight-bold">
			About
		</b>
		<p>This project is developed with a focus to simplify and streamline the the process of the "Final year Project
			topic application" for teachers as well as students. Here, we have worked to avoid problems like project
			repetition. The system shows all topics via a bulletin board. Pending and approved projects fashion distinct
			bulletin boards for simplification purposes. </p>

		<div class="border-top pt-3">
			<b>
				Guided by :<a class=" text-warning"> Prof. Shailaja Lohar</a>
			</b>

			<div class="border-top mt-3 pt-3">
				<b>
					Application developed by :
				</b>
				<a class=" text-warning">
					<h6>Ravi More (T.E. Computer)
				</a>
				<br>
				<a class=" text-warning">
					Chetan Bhoyar (T.E. Computer)
				</a>
				<br>
				<a class=" text-warning">
					Anvit Patil (T.E. Computer)
				</a>
			</div>
		</div>
</article>

{% endblock content %}