{% extends "projectinfo/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section bg-transparent">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Insert Link</legend>
            <h4 class="text-danger">Link should start with : http:// or https://</h4>
            <h6 class="text-white">eg. https://www.google.com/</h6>
            <p class=" border-top"></p>


            {% if form %}
            {{form|crispy}}
            {% endif %}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">
                Submit

            </button>
        </div>

    </form>







</div>

{% endblock content %}