{% extends "projectinfo/base.html" %}
{% block content %}

<p></p>
<center>

    {% if user.is_authenticated%}
    <a class="form-control font-weight-bold btn btn-primary mb-4 bt-4" href="{% url 'link-create' %}">
        Add New Link

    </a>
    {%endif%}

</center>
<article class="media content-section bg-transparent  ">

    <div class="media-body ">
        <div class="media-body">

            <h3 class="text-success">Links:</h3>
        </div>

        {% for i in object_list %}
        <article class="media content-section bg-transparent">
            <div class="media-body ">

                <h5><a class="article-title text-primary " href="{{i.link}}"> {{ i.link_title }}</a>
                    {% if user.is_authenticated%}
                    <a class="btn btn-outline-light btn-sm" href="{% url 'link-update' i.id %}">
                        Update

                    </a>
                    <a class="btn btn-outline-danger btn-sm" href="{% url 'link-delete' i.id %}">
                        Delete

                    </a>
                    {%endif%}
                </h5>

            </div>
        </article>


        {%endfor%}

    </div>
</article>

{% endblock content %}